<div
  class="container animated zoomIn"
  fxLayout="row"
  fxLayoutAlign="center none"
>
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <span class="text_medium">Contacto</span>
        <mat-nav-list>
          <a mat-list-item href="mailto:martinbarriaweb@gmail.com">
            <p mat-line>martinbarriaweb@gmail.com</p>
            <mat-icon> email </mat-icon>
          </a>
          <a mat-list-item href="tel:+56999859707">
            <p mat-line>+56 9 99859707</p>
            <mat-icon> stay_current_portrait </mat-icon>
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
    <br />
    <mat-card>
      <mat-card-content>
        <span class="text_medium">Redes sociales</span>
        <mat-nav-list>
          <a
            mat-list-item
            href="https://www.linkedin.com/in/martinbarriaweb/"
            target="_blank"
          >
            <p mat-line>@martinbarriaweb</p>
            <i class="fab fa-linkedin"></i>
          </a>
          <a
            mat-list-item
            href="https://www.instagram.com/martiniscode"
            target="_blank"
          >
            <p mat-line>@martiniscode</p>
            <i class="fab fa-instagram"></i>
          </a>
          <a
            mat-list-item
            href="https://twitter.com/martinbarriaweb"
            target="_blank"
          >
            <p mat-line>@martinbarriaweb</p>
            <i class="fab fa-twitter"></i>
          </a>
          <a
            mat-list-item
            href="https://www.upwork.com/o/profiles/users/~01c1ec302c326af6de/?viewMode=1"
            target="_blank"
          >
            <p mat-line>Upwork</p>
            <img
              style="width: 30px;"
              src="https://media-exp1.licdn.com/dms/image/C4D0BAQFgSlfqd_Pb1g/company-logo_200_200/0?e=2159024400&v=beta&t=HQRG0L_3UuW1kRHGWhdkx9OwPw0GUDb8ZpuSY_4tc0I"
              alt=""
            />
          </a>
        </mat-nav-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
